:root {
    /* primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* paragraphs */
    --white-paragraphs: hsla(0, 0%, 100%, 0.75);

    /* background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    line-height: 1.15;
}

body {
    background: var(--very-light-gray);
}

main {
    max-width: 80vw;
    min-width: 900px;
    /* overflow: hidden; */
}

button {
    padding: 0.75rem 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: white;
    border-radius: 2rem;
    margin: 4rem 0 0.5rem 0;
    border: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    /* width: ; */
    margin: 3rem;
}

.container>* {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--white-paragraphs);
    width: auto;
    padding: 3rem;
}

/* width: 80%; */

.container-text>h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

.container-text>p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
    padding-right: 2rem;
    /* width: 90%; */
}

.container-sedan {
    background-color: var(--bright-orange);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.container-sedan>button {
    color: var(--bright-orange);
    line-height: 1.4;
}

.container-suvs {
    background-color: var(--dark-cyan);
}

.container-suvs>button {
    color: var(--very-dark-cyan);
    line-height: 1.4;
}

.container-luxury {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.container-luxury>button {
    color: var(--very-dark-cyan);
    line-height: 1.4;
}

@media (max-width:900px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);


    }

    footer {
        display: none;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}